@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --background: #000000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
}

ul{
    display: flex;
    gap: 50px;
}

ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--background),
    0 0 0 22px var(--clr);
    transition: .2s;
}

ul li:hover::before{
    inset: 15px;
}

ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--background);
    transform: rotate(45deg);
    transition: .2s;
}

ul li:hover::after{
    inset: -10px;
    transform: rotate(0deg);
}

ul li a{
    position: relative;
    z-index: 10;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a i{
    font-size: 2rem;
    color: var(--clr);
    transition: .2s;
}

ul li:hover a i{
    color: var(--clr);
    transform: translateY(-40px);
}

ul li a span{
    position: absolute;
    font-family: consolas;
    color: var(--clr);
    transition: .2s;
    opacity: 0;
    transform: scale(0) translateY(200%);
}

ul li:hover a span{
    opacity: 1;
    transform: scale(1) translateY(100%);
}

ul li>:hover a i,
ul li:hover a span{
    filter: drop-shadow(0 0 20px var(--clr))
    drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}

.cont-mist{
    position: absolute;
    margin-top: 50%;
    align-content: center;
    text-align: center;
    opacity: 0.5;
}

.cont-mist:hover{
    align-content: center;
    text-align: center;
    opacity: 1;
}

.cont-contato label{
    color: white;    
}

.cont-contato input{
    background-color: transparent;
    color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    width: 390px;
    height: 50px;
    font-size: 15px;
    outline: none;
}

.cont-contato textarea{
    background-color: transparent;
    color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    height: 100px;
    width: 390px;
    font-size: 15px;
    resize: none;
    outline: none;
}

.cont-contato em{
    color: rgb(255, 0, 85);
}

.cont-contato label{
    color: white;    
}

.cont-contato input{
    background-color: transparent;
    color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    width: 390px;
    height: 50px;
    font-size: 15px;
}

.cont-contato textarea:hover{
    background-color: transparent;
    color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    height: 100px;
    width: 390px;
    font-size: 15px;
    resize: none;
}

.cont-contato em{
    color: rgb(255, 0, 85);
}

.cont-contato button{
    color: rgb(255, 255, 255);
    background-color: #2c2c2c;
    width: 390px;
    height: 50px;
    border-radius: 5px;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

.cont-contato button:hover{
    color: rgb(255, 0, 85);
    background-color: #1d1d1d;
    width: 390px;
    height: 50px;
    cursor: pointer;
}

.cont-contato h1{
    color: white;
    font-size: 25px;
}

.cont-contato p{
    color: white;
    font-size: 15px;
    opacity: 0.5;
}

.cont-contato a{
    text-decoration: none;
    color: white;
}

.cont-contato a:hover{
    text-decoration: none;
    color: rgb(255, 0, 85);
}
